.header{
    position: sticky;
    display: flex;
}
.header-left{
    display: flex;
}
.header-left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;

}
.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color:#f3f6f8;

}

.header-search >input {
    outline: none;
    border: none;
    padding: 8px 12px;
    background-color:#f3f6f8;

}