.header{
    display: flex;
    justify-content: space-evenly;
    border-bottom: .1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: static;
    top: 0;
    z-index: 999;
    background: white;
}
.header-left{
    display: flex;
}
.header-left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;

}
.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color:#f3f6f8;

}

.header-search >input {
    outline: none;
    border: none;
    padding: 8px 12px;
    /* background-color:#f3f6f8; */

}
.header-right{
    display: flex;

}